# Local config files
config.php

# Backup files
*.bak

#ignore database migrations
#db-migrations/*

# Storage
storage/

# Uploads
public/uploads/*

# Fonts
public/assets/fonts/*
# Composer dependencies
/vendor/
composer.phar


