config/config.php

# Plugin config
plugins/tl-1menu/config.php

# Storage
storage/

# Uploads
public/uploads/*

# Keep demo files
!public/uploads/2026/05/bb104e82c509fee5dfc656f30d5028fdc5b5.png
!public/uploads/2026/05/e7f9ca85c7ac8951984557083a0ed7f0c0fe.jpg
!public/uploads/2026/05/f00285a462e87e0f22ceb0043673612289ad.mp4

# Composer dependencies
/vendor/
composer.phar

